<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通付 - 收银台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="1;url={{ url }}" />
    <link rel="shortcut icon" href="https://wx.gtimg.com/core/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-style">
    <div class="container">
        <a class="navbar-brand brand-style" href="/">通付 - 收银台</a>
    </div>
</nav>
<!--内容-->
<div class="container">
    <div class="row">
        <section id="con-style">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ static_url("img/wx.jpg") }}" style="height: 300px; width: 300px; margin-left: 400px; margin-top: 70px" class="rounded" alt="...">
                    <!--<span style="font-size:20px; margin-left: 450px; margin-top: 70px">卡卡库萨克是</span>-->
                </div>
            </div>
            <div class="col-md-3"></div>
        </section>
    </div>
</div>
<!--版权-->

<div class="container-fluid fixed-bottom">
    <div class="row">
        <section id="id-footer">
            <div class="container">
                <div class="row">
                    <span>Copyright &copy; 2018 通付. All Rights Reserved.</span>
                    <span class="footer-span-style">通付 - 为个人网站助力！</span>
                </div>
            </div>
        </section>
    </div>
</div>

</body>
</html>